.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
}

.menu > * {
    flex: 1;
}